*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{

    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: darkgray;
 
}
.logo h1{
    font-size: 20px;
}
.logo p{
    font-size: 17px;
    color: red;
    margin-bottom: 10px;
}
.navlinks{
    margin-left: 80px;
}

ul{
    display: flex;
    align-items: center;

    gap: 30px;
}
li{
    list-style-type: none;
    font-size: 15px;
}
li a{
    text-decoration: none;
    color: black;
    
}
li a::after{
    content: "";
    margin: auto;
    width: 0%;
    height: 3px;
    display: block;
    background-color: orange;
    transition: 1s;
}
li a:hover::after{
    width: 100%;
}
li a:hover{
    color: red;
    width: 100%;
}

/* ------------------------------------ */
.main-content{
    width: 100%;
    height: auto;
    margin-top: 0;
}
.home-content{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url("https://th.bing.com/th/id/OIP.7F-xsZytu8W-Y5LAu8sxYAHaFj?w=294&h=180&c=7&r=0&o=5&pid=1.7");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   

    
}
.home-content h1{
    color: whitesmoke;
    margin-bottom: 10px;
}
.home-content p{
    color: rgba(0, 255, 42, 0.877);
    margin: 5px 70px;
   
}
#button{
    padding: 5px 15px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(128, 255, 0);
    color: white;
}
#button:hover{
    background-color: white;
    color: black;
}
/* ------------------------------------------------------- */
#featureHeading{
    margin: 30px 0px;
    text-align: center;
    margin-bottom: 100px;
}
.features-content{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.features{
    width: 25%;
    height: 400px;
    text-align: center;
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
    padding: 30px;
    margin-top:100px ;
    margin-bottom: 200px;
    
    transition: 1s;
}
.features:hover{
    transform: translateY(-10px);
    
   
}
i{
   
    height: 50px;
    width: 50px;
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding-top:25px;
    margin:30px;

}
.features h2{
    font-size: 20px;
    margin-top:40px ;
    margin-bottom: 10px;
}
.features p{
    font-size: 15px;
    margin: 20px 0px;
}
.features a{
    text-decoration: none;
    font-size: 17px;
    color:red ;

}
.features a:hover{
    color: darkblue;
}

/* ---------------------------------------- */
footer{
    margin: 20px;
    padding: 20px 10px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: cadetblue;

}
.about p{
    padding-left:20px ;
    text-align: justify;
}
.about h2{
    margin-bottom: 20px;
    color: white;
}
.recentPosts{
   padding-top: 20px;
    padding-left:80px ;
    font-size: 15px;
}
.recentPosts p{
    font-size: 15px;
    padding-bottom: 5px;
    color: cadetblue;
}
.recentPosts h4{
    font-size: 17px;
    color: cadetblue;
}

.galleries{
    padding-top: 20px;
    font-size: 15px;

    
}