*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}



#first{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin-top:0px;
    margin-left:0px ;
}

#second{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    
    transform:translate(1033px,-209px) ;
}

#third{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    transform : translate (4px,-2000px);
    
}

/*#fourth{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    
}

#fifth{
    height:200px;
    width: 200px;
    border: 5px solid black;
    
} */