*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.Nav{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(40, 40, 168,0.7);
    box-shadow: 0px 0px 20px black;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 30px;
    width: 30px;
    border-radius: 10px;

   
}
.logo h3{
    margin-left: 10px;
    color: burlywood
}

.navLinks a{
    text-decoration: none;
    color: beige;
    margin: 0 15px;
    
}
.navIcons i{
   margin: 0 15px;
   color: #F0F0F0;
}
.navbtn button{
    padding: 0px 15px;
    background-color: rgb(143, 41, 41);
    color: white;
    border: none;
    border-radius: 10px;
}